* {
    padding: 0px;
    margin: 0px;
}

.welcome {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

.container {
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: auto;
}

.box {
    background-color: aqua;
    color: aqua;
    width: 200px;
    height: 200px;
}